body {
	background-color:#000f1e;
	color:cyan;
	font-family:"Oswald", "Helvetica", sans-serif;
	font-weight:200;

}
header {
	background-color:#1fd4d4;
	color:black;
	text-align:center;
	padding-top:1px;
	padding-bottom:5px;
	margin-bottom:10px;
	border-radius: 20px;
}
nav {
	background-color:#590046;
	text-align:center;
	vertical-align: middle;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	height:50px;
	margin-bottom:10px;

}
.navLink {
	padding:7px;
	padding-top: 12px;
	color: #e8ffff;
	border: 5px solid #590046;
	border-radius: 15px;
	
}
.navLink:hover {
	background-color: #73005a;
}
.navLink {
	text-decoration-line: none;
}
.currentPage {
	background-color:#a1007e;
	color: #ffe8ff;

}
main {
	margin-top:30px;
	padding-left:20px;
	padding-bottom:30px;

}
footer {
	margin-top:20px;
	border-top:1px solid cyan;
	padding:20px;
	color:cyan;


}
td,th,table {
	border:2px solid;
	border-collapse: collapse;
	border-color:magenta;
}
a {
	color:magenta;
	transition:color 0.2s ease-in-out 0s,
}
a:hover {
	color:white;
}
hr {
	color:cyan;
	height:0.1px
}



.time{
	color:magenta;
	border-color:cyan;
}
#quote {
	margin-top:50px;
	margin-bottom:40px;

}
#EHead {
	margin-top:40px;

}
#entries {
	padding-left:20px;

}

.project {
	margin-top:40px;

}
.pMain{
	display: grid;
    gap: 10px;
	grid-template-columns: repeat(3, 1fr);

}

#img_quote {
	display: grid;
    gap: 10px;
    padding: 10px;
	padding-right: 20px;
	grid-template-columns: 1fr 3fr;

}
@media (max-width: 900px) {
    #img_quote {
        grid-template-columns: 1fr 1fr;
    }
	.pMain {
        grid-template-columns: repeat(2, 1fr);
 
    }
}
@media (max-width: 600px) {
    #img_quote {
		grid-template-columns: 1fr;
	}
	.pMain {
        grid-template-columns: 1fr;
 
    }
}
#imageContainer {
	display: flex;
    justify-content: center;
    align-items: center;
}
#quoteContainer {
	padding: 10px;

}
#cyborgNewton {
	border-radius: 10px;
	width: 100%;
}

#theRock {
	border-radius: 10px;
	scale: 1;
	max-width: 200px;
	max-height: 200px;
	transition: scale 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;

}
#theRock:hover {
	scale: 1.1;
	transform: rotate(2deg);

}
#roboVid {
	max-height: 200px;
	border-radius: 10px;

}
.midimg {
	max-width: 20%;

}
.bigimg {
	max-width: 80%;
}
#sembr {
	margin-top: 50px;

}
.h3 {
	font-size: 1.25rem;

}
.jEntry {
	padding: 10px;

}
#myCanvas {
    border: 2px solid white;
    border-radius: 10px;

}  