header{
    text-align: center;
    

}
main{
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns:1fr 2fr 1fr;	

}
#left{
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:2;
}
#main{
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:2;
	grid-column-end:3;

}
#right{
	grid-row-start:1;
	grid-row-end:2;
	grid-column-start:3;
	grid-column-end:4;
}
footer{


}